################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week02DemoA/.vs/Week02DemoA
/Week02DemoB/Week02DemoB/.vs/Week02DemoB
/Week02DemoC/.vs/Week02DemoC
/Week03DemoA/.vs/Week03DemoA
